
li.nav-option {
    margin: 0 0.5em 0 0.5em;
    max-width: 60px;
    min-width: 60px;
}

.row-wrapper {
  width: 100%;
  border: 2px solid lightgrey;
  border-radius: 6px;
  margin: 0.25em 0;

}

.archive-list {
  margin-top: 3em;
}

.fraggle,
.label-fraggle {
  font-size: 16px;
  font-weight: 700;
  margin: 0.5em;
}

.msg-icon {
  font-size: 24px;
}

.table-labels-wrapper,
.row-wrapper,
.message-wrapper {
  width: 100%;
  border-radius: 6px;
}

.message-wrapper {
  cursor: pointer;
  z-index: 950;
}

#message-modal {
  max-width: 320px;
  min-width: 320px;
  z-index: 1000;
  display: none;
  margin-top: 2em;
}

.close-message-modal {
  z-index: 1050;
}

.label-fraggle {
  margin: 0.5em;
  text-decoration: underline;
}

.header-fraggle {
  margin: 0.5em;
  font-size: 20px;
  font-weight: 700px;
  color: cornflowerblue;
}

.header-wrapper {
  margin-top: 1em;
}

.author {
  max-width: 128px;
  min-width: 72px;
  margin-left: 0.5em;
}

.hex_char {
  font-size: 24px;
  text-align: center;
  padding: 0 0.5em;
}

.body {
  max-width: 76px;
  min-width: 76px;
}

#body {
  text-align: center;
  padding: 1em;
  margin-top: 1em;
  background-color: lightgrey;
  color: darkslategrey;
  font-weight: 600;
  width: 90%;
  border-radius: 6px;
}

.date_time {
  min-width: 128px;
  max-width: 72px;
  //margin-right: 2em;
  text-align: right;
}

#archive-api {
  display: none;
}

#messenger-body {
  padding: 0.5em;
  margin: 0 1em 2em 1em;
  border-radius: 6px;
  color: black;
  font-weight: 600;
  font-size: 16px;
  border: 2px solid lightgrey;
}

#filter-menu-frame {
  //opacity: 0.7;
  position: relative;
  width: 100%;
  height: 1px;
}

#filter-menu {
  position: absolute;
  width: 50%;
  right:12px;
  top: 40px;
  display: none;
  padding: 0.5em;
  font-size: 16px;
  font-weight: 600;
  border: 3px solid lightgrey;
  border-radius: 4.33px;
  background-color: black;
  color: lightgray;
}

@media screen and (min-width:900px) {
  #filter-menu {
    max-width: 20%;
    min-width: 20%;
  }
}

.filter-option {
  padding: 0.5em;
  background-color: black;
  color: lightgray;
  font-weight: 600;
  border: 3px solid lightgrey;
  border-radius: 4.33px;
  cursor: pointer;
}

#filter-menu:active,
.filter-option:active {
  border: 3px solid cornflowerblue;
}

#user-filter-modal {
  display:none;
  z-index: 1200;
  padding-top: 100px;
}

input#user-filter-field {
  padding: 0.75em;
  font-size: 16px;
  border-radius: 6px;
  font-weight: 700;
  z-index: 1200;

}

button#go.no-button {
  width: 40px;
  min-width: 64px;
  max-width: 64px;
  z-index: 1200;
}
