
div#ex-machina-header {
  padding: 0.5em;
}	

div#ex-machina-header > h1,  div#ex-machina-header > h2  { 
  color: white;
  opacity: 0.66;
}

#badge-frame {
  padding: 0.2em;
  margin: 0.2em;
  margin-top: 6em;
  background-color: white;
  max-width: 75px;
  min-width: 75px;
  max-height: 75px;
  min-height: 75px;
  text-align: center;
  border-radius: 100%;
}


section.inform {
	
}

p.snippet {
  max-width: 360px;
  min-width: 360px;	
  font-size: 20px;
}

p.blockquote {
  max-width: 300px;
  min-width: 300px;
  font-size: 20px;
  font-style: italic;
}

p.blockquote {	
	
}	

div#graphic-shell {
  display: none;
}
	

img#ex-machina-graphic {
  width: 300px;
  height: 300px;
  position: fixed;
  left: 25px;
}	

div#sidebar-nav-shell {
  position: fixed;
  right: 16em;
}
	
article#the-sidebar-nav {
  display: none;
}

a.sidebar-nav-anchor {
  cursor: pointer;
}

@media only screen and (min-width: 1024px) { 
	
	p.snippet {
	  max-width: 600px;
	  min-width: 600px;
    }
	
	p.blockquote {
	  max-width: 500px;
	  min-width: 500px;
    }
	
	h3.tab-header {
	  padding-left: 100px;
	}
	
	div#graphic-shell {
      max-width:125px;
	  min-width: 125px;
      padding-top: 6em;
	  display: block;
    }
	
	div#ex-machina-header {
	  padding-top: 2em;
	}		
}

@media only screen and (min-width: 1400px) {
  
    article#the-sidebar-nav {
      padding-left: 6em;
	  display: block;
    }
  
    img#ex-machina-graphic {
      left: 125px;
    }	
  
    div#ex-machina-header > h1 {
      padding-left: 25px;
	  color: white;
    }
  
    div#ex-machina-header > h2{
      padding-left: 300px;
    }
	
	p.snippet {
	  max-width: 800px;
	  min-width: 800px;
    }
}


	